body {
	background: #666699;
	display: table;
}

#crossing-the-delaware {
	text-align: center;
}
img {
	border: 5px;
	border-style: ridge;
	border-color: green;
	padding: 10px;
}
h2 {
	font-family: "Courier New";
	text-align: center;
}
.text-margin {
	margin: 20px;
}
article {
	text-align: center;
	background: url(Images/turtle_texture1.jpg);
	color: green;
	font-weight: bold;
	display: table-cell;
}
a:visited {
	color: #6600cc;
}
#table-col-2 {
	display: table-cell;
}

/*
Padding and border added to at least one element - DONE
Margin added to at least one element - DONE
At least one centered element (a footer message can be nice for this) - DONE
A background image on at least one element
A different font on at least one element - DONE
A few elements styled using a class - DONE
A different color for visited links - DONE
An element styled with an ID - DONE
*/