body {
	background: #d1d1e0;
	display: table;
}
/*An element styled with an ID - DONE*/
/*At least one centered element (a footer message can be nice for this) - DONE*/
#crossing-the-delaware {
	text-align: center;
}
/*Padding and border added to at least one element - DONE*/
img {
	border: 5px;
	border-style: ridge;
	border-color: #ffffcc;
	padding: 10px;
}
/*A different font on at least one element - DONE*/
h2 {
	font-family: "Courier New";
	text-align: center;
}
h1 {
	text-align: center;
}
/*Margin added to at least one element - DONE*/
p {
	margin: 20px;
}
/*A background image on at least one element - DONE*/
article {
	text-align: center;
	background: url(images/turtle_texture1.jpg);
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}
/*A different color for visited links - DONE*/
a:visited {
	color: #6600cc;
}
/*A few elements styled using a class - DONE*/
.table-col-1 {
	display: table-cell;
	width:182px;
	height: 900px;
	margin: 15px auto;
	position: fixed;
	margin-top: 40px;
}
.table-col-2 {
	display: table-cell;
	position: relative;
	padding-left: 250px;
}
#sidebar {
	width:175px;
	height: 900px;
	margin: 15px auto;
	position: fixed;
	margin-top: 300px;
}
@media screen and (max-width: 986px){
	body {
		display: block;
	}
	.table-col-2 {
		display: block;
		max-width: 800px;
		padding-left: 0px;
	}
	img {
		width: 75%;
	}
	.table-col-1 {
		display: block;
		width: auto;
		height: auto;
		position: relative;
	}
	#sidebar {
		display: block;
		min-width: 100px;
		position: relative;
		width: auto;
		height: auto;
		margin-top: auto;
	}
}






